<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/DB_orari?useSSL=false&amp;serverTimezone=UTC</property>
        <property name="connection.username">DB_orari</property>
        <property name="connection.password">DB_orari</property>

        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">1</property>

        <!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>

		<!-- Set the current session context -->
		<property name="current_session_context_class">thread</property>
 
<!--  <mapping class="gestione.orari.entita.Aula" /> -->
<!-- <mapping class="gestione.orari.entita.AulaEsame" /> -->
<!-- <mapping class="gestione.orari.entita.AulaLezione" /> -->
<!-- <mapping class="gestione.orari.entita.Esame" /> -->
<!-- <mapping class="gestione.orari.entita.IscrizioneEsame" /> -->
<!-- <mapping class="gestione.orari.entita.Lezione" /> -->
<!-- <mapping class="gestione.orari.entita.LezioneCorso" /> -->
<!-- <mapping class="gestione.orari.entita.OrarioDidattico" /> -->
<!-- Avviso -->
<!-- CorsoDiLaurea -->
<!-- Corso -->
<!-- Corso -->
<!-- Persona -->
<!-- PrenotazioneAula -->
<!-- ProfessoreCorso -->
<!-- TipologiaRisorsa -->
<!-- TipologiaRisorsa -->
 
 
 
 
 
 
    </session-factory>

</hibernate-configuration>